* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 50px auto;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.grid {
  width: 300px;
  height: 300px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.invader {
  background-color: blue;
  border-radius: 10px;
}

.shooter {
  background-color: green;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}

.buttons {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.move-laser {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.move-laser button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.fire-laser button {
  padding: 10px 20px;
  background-color: crimson;
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
